@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin:  0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  
}




/* .navbar{
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
} */

html, body, #root {
  min-height: 100%;
}

/* public/img/WhatsApp\ Image\ 2019-09-09\ at\ 22.19.57.jpeg */

body{
  /* background: black url('../../public/img/bg5.png') no-repeat; */
  background-size: cover;
  -webkit-font-smooting: antialiased !important;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.containerF1 {
  /* margin: 50px auto 0; */
  /* max-width: 450px; */
  /* width: 100px; */
  width: 33%;
  /* display: flex; */
  float: left;
  /* flex-direction: column; */
  /* align-items: center; */

}

.contentF1 {
  width: 300px;
  height: 370px;
  background: cornsilk;
  margin-top: 50px;
  border-radius: 22px;
  padding: 30px;
  float: left;
}

.contentF1 > p  {
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;

}

.contentF1 form {
  display: flex;
  flex-direction: column;
  
}

.contentF1 form label {
  font-size: 14px;
  color : #1b1613;
  font-weight: bold;
  margin-bottom: 8px;
  
}

.contentF1 form input{
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  
}
.contentF1 button.btn{ 
  
  border: 0;
  border-radius: 2px;
  
  width: 100px center;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #d68a2a;
  color: #ffffff;
  cursor: pointer;
  
  
}

.contentF1 button.btn:hover{
    background: #c4a77d;
}



.container2 {
  /* margin: 80px auto 0; */
  /* max-width: 450px; */
  /* width: 100px; */
  width: 33%;
  float: left;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.content2 {
  height: 370px;
  width: 300px;
  background: cornsilk;
  margin-top: 50px;
  border-radius: 22px;
  padding: 30px;
}

.content2 > p  {
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;

}

.content2 form {
  display: flex;
  flex-direction: column;
  
}

.content2 form label {
  font-size: 14px;
  color : #1b1613;
  font-weight: bold;
  margin-bottom: 8px;
  
}

.content2 form input{
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  
}
.content2 button.btn2{ 
  
  border: 0;
  border-radius: 2px;
  margin-top: 13.8%;
  width: 100px center;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #d68a2a;
  color: #ffffff;
  cursor: pointer;
  
  
}

.content2 button.btn2:hover{
    background: #c4a77d;
}